img {
    /*border: 3px solid #b8a9b2;*/
    border-radius: 100px;
}
li {
    list-style-type: none;
    padding: 0.3rem;
   }
ul {
    margin-left: 0; /* Отступ слева в браузере IE и Opera */
    padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
}
body {
    background-color: #e9ebf0;
}
.content {
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn a, .btn a:hover {
    color: white;
    text-decoration: none;
}
.btn-vk {
    background-color: #597da3;
    border: 0;
    border-radius: 0.2rem;
}
.btn-vk:hover {
    background-color: #6989aa;
}